@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}


.root {
    position: relative;
}

.Pages {
    margin-top: 71px;
}


@media (max-width: 500px){
    .Pages {
        margin-top: 55px;
        align-items: center;
        flex-direction: column;
        position: relative;
        display: flex;
    }
}


.login-form-container{
    position: relative;
    display: block;
    top: 92px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}



.btn-primary {
    padding: 14px 10px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
}

#login-submit {
    position: relative;
    left: 306px;
}

.signup-form-container {
    position: relative;
    display: block;
    top: 92px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#next-btn {
    position: absolute;
    right: 8px;
}
#back-btn {
    position: absolute;
    left: 8px;
}

#signup_form {
    height: 312px;
}