*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.root {
    position: relative;
}

.Pages {
    margin-top: 71px;
}


@media (max-width: 500px){
    .Pages {
        margin-top: 55px;
    }
}