.Signup-Page {
    width: 100%;
    display: block;
    height: 554px;
    background-color: skyblue;
}



.signup-form-container {
  margin: auto;
  position: relative;
  top: 80px;
  width: fit-content;
  height: fit-content;
}

.form-group {
    margin: 10px;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 2px 8px;
    width: 350px;
    background-color: #1c9bc9;
}

.signup-form {
    position: relative;
    background-color: white;
    width: 350px;
    height: 360px;
    box-shadow: 0px 2px 8px black;
}

.form-control {
    border: 1px solid black;
    padding: 10px 20px;
}

.signup-form-submit-btn{
    padding: 10px 15px;
    outline: none;
    border:none;
    right: 5px;
    margin: 4px;
    bottom: 24px;
    position: absolute;
    border-radius: 9px;
    background-color: #1c9bc9;
}